.dark .datepicker-calendar-container {
  border: 1px solid #555;
  background-color: #222;
  color: #eee;
}

.dark .datepicker-header {
  border-bottom: 1px solid #444;
}

.dark .datepicker-day {
  background-color: #333;
  color: #ddd;
}

.dark .datepicker-day:hover {
  background-color: #444;
}

.dark .datepicker-day.selected,
.dark .datepicker-day.in-range {
  background-color: #3a5fd8;
}

.dark .datepicker-day.in-range {
  background-color: #5675d8;
}

.dark .datepicker-day.blocked {
  color: #aaa;
  background-color: #1c1c1c;
}

.dark .datepicker-day-names {
  background-color: #4a4c52;
}

.dark .datepicker-day-names > div {
  color: #ccc;
}

.dark button.prev-month,
.dark button.next-month {
  background-color: #4a4c52;
  color: #ccc;
}

.dark button.prev-month:hover,
.dark button.next-month:hover {
  background-color: #2e4cae;
}
