@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import 'lightmode.css';
@import 'darkmode.css';
@import 'locales.css';
@import 'square.css';
@import 'round.css';

.datepicker-input {
  display: inline-block;
  border: 1px solid #ddd;
  height: 20px;
  border-radius: 5px;
  padding: 3px 7px;
  font-family: 'Roboto', sans-serif;
}

.datepicker-calendar-container {
  padding: 10px;
  margin-top: 1px;
  width: 275px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
}

.datepicker-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  margin: 0 0 10px 0;
}

.datepicker-day {
  display: inline-block;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  margin: 0 0 5px 5px;
}

.datepicker-day > span {
  display: block;
}

.datepicker-week,
.datepicker-day-names {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  text-align: center;
}

.datepicker-day-names {
  border-radius: 5px;
  margin: 0 3px 5px;
  padding: 5px 0;
}

.datepicker-day.blocked {
  cursor: not-allowed;
}

button.prev-month,
button.next-month {
  cursor: pointer;
  border-radius: 5px;
  border: none;
  padding: 5px 12px;
  transition: all 100ms ease-in-out;
}
