@import 'lightmode.css';
@import 'darkmode.css';

.datepicker-calendar-container {
  border: 1px solid #ddd;
  padding: 10px;
  width: 275px;
}

.datepicker-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.datepicker-day {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  margin: 0 0 5px 5px;
}

.datepicker-week,
.datepicker-day-names {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  text-align: center;
}

.datepicker-day > span {
  display: block;
}

.ja .datepicker-calendar-container {
  height: 385px;
}

.ja .datepicker-day {
  cursor: pointer;
  height: 50px;
  font-size: smaller;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
}

.zh-CN .datepicker-calendar-container,
.zh-TW .datepicker-calendar-container {
  height: 385px;
}

.zh-CN .datepicker-day,
.zh-TW .datepicker-day {
  cursor: pointer;
  height: 50px;
  font-size: smaller;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
}
