.ja .datepicker-calendar-container {
  height: 385px;
}

.ja .datepicker-day,
.ko .datepicker-day {
  cursor: pointer;
  height: 50px;
  font-size: smaller;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.zh-CN .datepicker-calendar-container,
.zh-TW .datepicker-calendar-container {
  height: 385px;
}

.zh-CN .datepicker-day,
.zh-TW .datepicker-day,
.ko .datepicker-day {
  height: 50px;
  font-size: smaller;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
